﻿
@{
    ViewBag.Title = "Index";
}
@section scripts{
<script>
    function sendPost() {
        $.ajax({
            type: "POST",
            url: "/Harness/addValueAsync",
            data: { new_value : $("#txt_new_value").val()},
            success: function (data) {
                alert("Success");
            }
        });
    }
    function apiGet() {
        $.ajax({
            type: "POST",
            url: "/Harness/getValue",
            data: {},
            success: function (data) {
                $("#txt_api_get").val(data);
            }
        });
    }
</script>
}
<h2>@ViewBag.output</h2>

<div class="box">
    <div class="box-body">
        <div class="input-group col-sm-3">
            <input type="text" class="form-control" id="txt_new_value">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-flat" onclick="sendPost();">Post</button>
            </span>
        </div>
        <p class="margin"></p>
        <div class="input-group col-sm-3">
            <div class="input-group-btn">
                <button type="button" class="btn btn-danger" onclick="apiGet();">Get</button>
            </div>
            <!-- /btn-group -->
            <input type="text" class="form-control" id="txt_api_get">
        </div>
    </div>
</div>